# Database Configuration
DATABASE_URL="postgresql://postgres:Open-Open@localhost:5432/ezpg"

# JWT Configuration
JWT_SECRET="oznBGKyproKydfYWGCjEDArjaojZ3yB81+EVg0Poh7k="
JWT_TEMP_SECRET="FM5+EaYqjm3r0978WeCIji2yfjxT+9iMH+7kTxQZ9uQ="
JWT_ACCESS_TOKEN_EXPIRATION_TIME="15m"
JWT_TEMP_TOKEN_EXPIRATION_TIME="10m"
JWT_REFRESH_TOKEN_SECRET="F7us/UQvu9XOssLEmyXGnn9btLtz02XLmsielXlFCjw="
JWT_REFRESH_TOKEN_EXPIRATION_TIME="7d"

# CORS Configuration
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001,http://localhost:8080"

# App Configuration
APP_NAME="EZPG Payment Gateway"
NODE_ENV="development"
PORT=8080

# TFA Configuration
TFA_ENCRYPTION_KEY="6aa34f9ec75371b65be6a5b222666bf2"